body {
    background: #FFFFFF;
}

.bold {
    font-weight: bold;
}

p {
    font-size: 1.8em;
}


.features a {
    text-decoration: underline;
    color: #000000;
}

.features a:hover {
    color: #0099FF;
}